{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Change Password | Brand Shop</title>
{% endblock %}
{% block content %}
<div style="height: 100vh;color:#000" class="pt-5 primary-font container-md container-fluid">
    <form method="POST" class="contact-form row">
        <label class="col-12 px-0 size-one">New Password:</label>
        {{ form.password }}
        {% csrf_token %}
        <div class="col-md-8 col-sm-4 col-2"></div>
        {% for fields in form %}
        {{ fields.errors }}
        {% endfor %}
        <input type="submit" value="Save" class="col-md-2 col-sm-5 col-6 col-5 secondary-btn size-one">
    </form>
</div>
<script>
    $('.errorlist').addClass('d-flex col-12 px-0 left-ul size-one')
    $('.errorlist').css('color','rgb(255,0,0)')
    $('input[name="password"]').addClass('col-md-4 col-sm-8 col-10 size-one')
    $('input[name="password"]').css('padding','10px')
</script>
{% endblock %}