{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Orders | Brand Shop</title>
<link rel="stylesheet" href="{% static 'css/account.css' %}">
<link rel="stylesheet" href="{% static 'css/account/orders.css' %}">
{% endblock %}
{% block content %}
<div class="primary-font banner mb-3">
    <h1 class="text-center p-0">MY ACCOUNT</h1>
    <div class="size-one text-center p-0">
        <a href="{% url 'store:index' %}" class="web-link"><i class="fas fa-home"></i> Home</a> / My Account
    </div>
</div>
<div class="container-fluid px-sm-5 px-2 py-sm-5 py-1 mb-4 primary-font">
    <div class="row">
        <div class="col-lg-4 col-12 px-0 mb-lg-0 mb-4">
            <ul class="dash-ul px-0 px-lg-3">
                <li class="text-center dash-head weight-four">MY ACCOUNT</li>
                <a href="{% url 'account:account' %}" class="d-block size-four web-link-two"><li>DASHBOARD</li></a>
                <a href="{% url 'account:orders' %}" class="d-block active size-four web-link-two"><li>ORDERS</li></a>
                <a href="{% url 'account:address' %}" class="d-block size-four web-link-two"><li>ADDRESSES</li></a>
                <a href="{% url 'account:ac_detail' %}" class="d-block size-four web-link-two"><li>ACCOUNT DETAILS</li></a>
                <a href="{% url 'store:wishlist' %}" class="d-block size-four web-link-two"><li>WISHLIST</li></a>
                <a href="{% url 'account:logout' %}" class="d-block size-four web-link-two"><li>LOGOUT</li></a>
            </ul>
        </div>
        <div class="col-lg-8 col-12 row px-lg-5 px-0 ">
            {% if messages %}
            {% for message in messages %}
            <div class="alert col-12 {% if message.tags == 'error' %}alert-danger{% else %}alert-{{ message.tags }}{% endif %} mx-auto size-one" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
            {% if orders %}
            <table class="col-12 text-center" style="color:#000;height: fit-content;">
                <thead>
                    <tr>
                        <th>ORDER</th>
                        <th>DATE</th>
                        <th>STATUS</th>
                        <th>TOTAL</th>
                        <th>ACTIONS</th>
                    </tr>
                </thead>
                <tbody style="height: fit-content;">
                    {% for order in orders %}
                    <tr>
                        <td>#{{ order.checkout.id }}</td>
                        <td>{{ order.checkout.checkout_date }}</td>
                        <td>{{ order.checkout.get_status_display }}</td>
                        <td>&#x20B9;{{ order.checkout.amount }}</td>
                        <td><a href="{% url 'account:track' order.checkout.id %}" class="web-link fourth-btn">View</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <div class="size-one px-3 dialogue-box py-3 col-12">
                <i style="margin-right: 8px;" class="fas fa-check"></i>
                No order has been made yet.
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}