{% extends 'base.html' %}
{% load static %}
{% block title %}
<title>Privacy Policy | Brand Shop</title>
<link rel="stylesheet" href="{% static 'css/privacy_policy.css' %}">
{% endblock %}
{% block content %}
<div class="primary-font banner mb-3">
    <h1 class="text-center p-0">PRIVACY POLICY</h1>
    <div class="size-one text-center p-0">
        <a href="{% url 'store:index' %}" class="web-link"><i class="fas fa-home"></i> Home</a> / Privacy Policy</div>
</div>
<div class="primary-font container-fluid px-3 mt-4">
    <div class="container" style="color:#000">
        <h4 class="text-center weight-two mb-5">WHAT PERSONAL DATA WE COLLECT AND WHY WE COLLECT IT</h4>
        <div class="data-box">
            <div class="data-head">
                <h5 class="mb-3"><span class="sl-no">1. </span>MEDIA</h5>
                <p class="size-one">
                    If you upload images to the website, you should avoid uploading images with embedded location data (EXIF GPS) included. Visitors to the website can download and extract any location data from images on the website.
                </p>
            </div>
        </div>
        <div class="data-box">
            <div class="data-head">
                <h5 class="mb-3"><span class="sl-no">2. </span>CONTACT FORM</h5>
                <p class="size-one">
                    If you leave a comment on our site you may opt-in to saving your name, email address and website in cookies. These are for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year.
                </p>
                <p class="size-one">If you have an account and you log in to this site, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.</p>
                <p class="size-one">When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you select “Remember Me”, your login will persist for two weeks. If you log out of your account, the login cookies will be removed.</p>
            </div>
        </div>
        <div class="data-box">
            <div class="data-head">
                <h5 class="mb-3"><span class="sl-no">3. </span>HOW LONG WE RETAIN YOUR DATA</h5>
                <p class="size-one">If you leave a comment, the comment and its metadata are retained indefinitely. This is so we can recognize and approve any follow-up comments automatically instead of holding them in a moderation queue.</p>
                <p class="size-one">For users that register on our website (if any), we also store the personal information they provide in their user profile. All users can see, edit, or delete their personal information at any time (except they cannot change their username). Website administrators can also see and edit that information.</p>
            </div>
        </div>
        <div class="data-box">
            <div class="data-head">
                <h5 class="mb-3"><span class="sl-no">4. </span>WHAT RIGHTS YOU HAVE OVER YOUR DATA</h5>
                <p class="size-one">If you have an account on this site, or have left comments, you can request to receive an exported file of the personal data we hold about you, including any data you have provided to us. You can also request that we erase any personal data we hold about you. This does not include any data we are obliged to keep for administrative, legal, or security purposes.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
